[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/wjakob/nanogui
[submodule "ext/cpr"]
	path = ext/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "easyloggingpp"]
	path = easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "gumbo-query"]
	path = gumbo-query
	url = https://github.com/lazytiger/gumbo-query.git
[submodule "gumbo-parser"]
	path = gumbo-parser
	url = https://github.com/google/gumbo-parser.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "ext/aeon_streams"]
	path = ext/aeon_streams
	url = https://github.com/alenstar/aeon_streams.git
[submodule "ext/tinyxml2"]
	path = ext/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "ext/gumbo-parser"]
	path = ext/gumbo-parser
	url = https://github.com/google/gumbo-parser.git
[submodule "ext/gumbo-query"]
	path = ext/gumbo-query
	url = https://github.com/lazytiger/gumbo-query.git
[submodule "ext/easylogginpp"]
	path = ext/easylogginpp
	url = https://github.com/easylogging/easyloggingpp.git
